{:datetime "2024-07-12T01:17:19.813Z",
 :event_type "CALL_ENDED",
 :event_object
 {:patient_id "12345678",
  :doctor_enrollment_prov "C",
  :patient_phone "+1234567890",
  :call_diagnosis "Otalgia y secreción del oído",
  :patient_gender "F",
  :call_cie10 "H92",
  :call_doctor_rating 0,
  :call_motive "Fiebre / Sin otros síntomas mencionados",
  :call_patient_comment "",
  :call_patient_rating 0,
  :patient_email "johndoe@example.com",
  :call_start_datetime "2024-07-12T01:12:19.225Z",
  :doctor_specialty "Medicina General",
  :patient_location_city "",
  :rest_indication false,
  :call_resolution "referred",
  :doctor_enrollment "100016",
  :provider_id "59205fc0-5e44-4e4d-9c15-bcdf22459dca",
  :patient_location_longitude -80.33,
  :order_id "2024/08/08 13:00",
  :call_doctor_comment
  "FIEBRE DESDE HOY, REFIERE OTALGIA ESTUVO EN PISCINA Y MAR? DICE NO MOCO NI TOS CONTROL PRESENCIAL PARA OTOSCOPIA OTITIS EXTERNA O MEDIA?",
  :patient_name "John Doe",
  :patient_age 9,
  :custom_questions [],
  :patient_external_id "182222",
  :call_duration 151,
  :doctor_enrollment_type "MN", 
  :doctor_name "Amezqueta Marcela",
  :patient_location_latitude 9.0,
  :patient_location_country_code "PA",
  :doctor_id "27217651420",
  :patient_location_region_code "O",
  :call_id "b85de449-1114-4842-b698-e72989a4489e"}}
